* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    margin-top: 1px;
    height: 250px;
    width: 100%;
    color: rgb(165, 138, 233);
    flex-direction: column;
    transform: translateY(220px);
}

.subcontainer {
    margin-top: 30px;
    width: 100%;
}

.button2 {
    padding: 10px;
    font-size: 18px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.active {
    background-color: rgb(185, 112, 3);
    color: white;
}

.border {
    border: 2px solid black;
}

.note {
    padding: 10px;
    font-size: 15px;
    color: black;
}

.item {
    display: flex;
    justify-content: center;
}


.Postcard {

    margin: 15px;
    height: 400px;
    width: 300px;
    background-color: rgb(104, 88, 72);
    box-shadow: 17px 25px 20px rgba(49, 47, 47, 0.932);
    border-radius: 15px;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
    color: black;

}

.imagebox{
    padding: 15px;
}

.card-image .card-img{
    width: 250px;
    height: 160px;
    border-radius: 15px;
}

.title{
    color: black;
    font-size: 18px;
    
}

.tag{
    color:black;
    font-size: 16px;
    text-align: left;
    margin: 10px;
}

@media (max-width:1400px) {
    .container {
        transform: translateY(700px);
    }
    .border{
        margin: 12px;
    }
    .item{
        flex-wrap: wrap;
    }
}